.jumbotron{
    background: url("images/img1.jpg");
    background-size: 100% 100%;
    height: 600px;
}

.logo {
    width: 75px;
    height: 75px;
}

.featured {
    color: #666666;
}

.featured h1{
    padding-top: 60px;
}

.featured .btn-default {
    font-weight: bold;
    color: white;
    background-color: rgba(145, 82, 58, 0.5);
    border-radius: 10px;
    margin-top: 20px;
    width: 160px;
    margin-right: 15px;
}

.featured .btn-default:hover {
    background-color: rgb(145, 82, 58);
}

.trial {
    text-align: center;
    padding: 20px 0 40px 0;
    color: black;
}

.trial img {
    width: 200px;
    height: 70px;
    margin: 20px;
} 

.footer {
    background-color: #eeeeee;
    font-size: 15px;
    padding: 10px 0;
}


@media (min-width: 480px) and (max-width: 768px) {
    .jumbotron {
        height: 410px;
        margin: 0;
    }
    
    .logo {
        width: 50px;
        height: 50px;
    }
    
    .featured h1 {
        padding-top: 30px;
    }
    
    .featured p {
        font-size: 17px;
    }
    
    .featured {
        text-align: center;
    }
}

@media (max-width: 480px) {
    .jumbotron {
        height: 410px;
        margin: 0;
    }
    
    .logo {
        width: 40px;
        height: 40px;
    }
    
    .featured h1 {
        padding-top: 10px;
    }
    
    .featured p, .featured a {
        font-size: 13px;
    }
    
    .featured {
        text-align: center;
    }
    
    .trial img {
        width: 100px;
        height: 35px;
        margin: 10px;
    }
}
